.time-input {
  width: 3.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--base-size);
  transition: all var(--transition-speed) ease;
  --webkit-appearance: none;
  --moz-appearance: textfield;
}

.time-input:focus {
  outline: none;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.3);
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.event-form input,
.event-form textarea {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.875rem;
  transition: all var(--transition-speed) ease;
}

.event-form input:focus,
.event-form textarea:focus {
  outline: none;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.3);
}

.event-form textarea {
  resize: none;
}

.event-form input::placeholder,
.event-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 30rem) {
  .time-input {
    width: 3.125rem;
    padding: 0.625rem;
    font-size: var(--base-size);
  }
}
